fastapi
uvicorn
kafka-python
pika
langchain
psycopg2-binary
torch
transformers
sentence-transformers
confluent-kafka
langchain-community
unstructured
numpy
langchain_unstructured
pydantic-settings>=2.0.0